body {
    font-family: "Helvetica";
    background-color: #EFECCA;
}
h1 {
    color: #C03000;
}
h2 {
    color: #4BB5C1;
}
a
{
    color: white;
    text-decoration:none; 
}

section h2
{
     color: red;
}

input
{
    border: 1px solid black;
    border-radius: 5px;
   margin-right: 100px;
    float: right;
}

#retourIndex
{
    color: green;
}
#buttonAjouter
{
    background-color: red;
    color: white;
}
body
{
    border: 1px solid gray;
}
li
{
  display: block; 
  margin-bottom:10px;
  
}